In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [4]:
hc = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/Train/Health_Camp_Detail.csv')

In [5]:
hc

,Health_Camp_ID,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3
0,6560,16-Aug-03,20-Aug-03,First,B,2
1,6530,16-Aug-03,28-Oct-03,First,C,2
2,6544,03-Nov-03,15-Nov-03,First,F,1
3,6585,22-Nov-03,05-Dec-03,First,E,2
4,6561,30-Nov-03,18-Dec-03,First,E,1
...,...,...,...,...,...,...
60,6556,09-Nov-06,15-Dec-06,First,E,2
61,6551,13-Nov-06,18-Nov-06,Second,D,2
62,6559,11-Dec-06,12-Mar-07,First,F,2
63,6567,30-Jan-07,04-Feb-07,Second,D,2
64,6577,30-Jan-07,08-Mar-07,Third,G,2

In [8]:
hc['Category1'].values

array(['First', 'First', 'First', 'First', 'First', 'First', 'First',
       'First', 'First', 'First', 'First', 'First', 'First', 'First',
       'First', 'First', 'First', 'First', 'First', 'First', 'First',
       'First', 'First', 'First', 'Second', 'First', 'First', 'Second',
       'First', 'Third', 'First', 'Second', 'First', 'First', 'Third',
       'Second', 'First', 'First', 'First', 'First', 'Second', 'Third',
       'Third', 'Second', 'First', 'First', 'First', 'First', 'Third',
       'Third', 'First', 'Second', 'Second', 'First', 'Third', 'First',
       'First', 'Second', 'Third', 'Third', 'First', 'Second', 'First',
       'Second', 'Third'], dtype=object)

In [9]:
hc['Category2'].values

array(['B', 'C', 'F', 'E', 'E', 'F', 'C', 'C', 'F', 'E', 'E', 'C', 'C',
       'C', 'F', 'C', 'C', 'C', 'E', 'E', 'F', 'C', 'E', 'E', 'D', 'F',
       'F', 'D', 'C', 'G', 'B', 'A', 'E', 'E', 'G', 'A', 'F', 'F', 'E',
       'C', 'A', 'G', 'G', 'A', 'C', 'F', 'C', 'E', 'G', 'G', 'C', 'A',
       'A', 'E', 'G', 'E', 'C', 'A', 'G', 'G', 'E', 'D', 'F', 'D', 'G'],
      dtype=object)

In [10]:
hc['Category3'].values

array([2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])