In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
pd.set_option('display.max_columns', None)

In [2]:
df_withdates = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/placeholder/df_withdates.csv')

In [3]:
df_blank = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/ready12_24_train.csv')

In [4]:
from preprocessing import drop_cols , one_hot_encoding , scale
data = drop_cols(df_blank) # drop cols

df_encode = one_hot_encoding(data, columns = ['City_Type2_x','Job Type_x','Category 2','Category 3','Category 1', 'online_score'])

In [5]:
#df_encode1 = df_encode.drop(['City_Type2_x','Job Type_x','Category 2','Category 3','Category 1', 'online_score','Health_Camp_ID'],axis=1)

In [6]:
start = df_withdates['Camp_Start_Date2'].values
end = df_withdates['Camp_End_Date2'].values
camp_id = df_encode['Health_Camp_ID'].values

In [7]:
df_encode['Start']=start
df_encode['End'] = end

In [8]:
df_encode

,Health_Camp_ID,Var1,Var2,Var3,Var4,Var5,City_Type2_x,Job Type_x,online_score,y_target,Camp Start Date - Registration Date,Registration Date - First Interaction,Camp Start Date - First Interaction,Camp End Date - Registration Date,Camp Length,Category 1,Category 2,Category 3,1036,1216,1217,1352,1704,1729,2517,2662,23384,BFSI,Broadcasting,Consulting,Education,Food,Health,Manufacturing,Others,Retail,Software Industry,Technology,Telecom,Transport,A,C,D,E,F,G,2100,Second,Third,1,2,3,4,9999,BFSI,Broadcasting,Consulting,Education,Food,Health,Manufacturing,Others,Retail,Software Industry,Technology,Telecom,Transport,Start,End
0,6578,4.0,0.0,0.0,0.0,2.0,23384,9999,0,1.0,-25.0,278,253,34,59,Third,G,2100,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2005-08-16,2005-10-14
1,6532,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,-24.0,99,75,161,185,First,F,2100,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2005-02-19,2005-08-23
2,6543,4.0,0.0,0.0,0.0,2.0,23384,9999,0,0.0,-60.0,355,295,711,771,First,F,2100,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2005-09-27,2007-11-07
3,6580,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,4.0,12,16,19,15,First,E,2100,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2004-12-22,2005-01-06
4,6570,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,69.0,146,215,82,13,First,E,2100,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2005-07-09,2005-07-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75273,6538,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,-204.0,16,-188,188,392,First,F,2100,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2004-01-09,2005-02-04
75274,6528,0.0,0.0,0.0,0.0,0.0,1729,9999,0,1.0,-73.0,31,-42,1,74,Third,G,2100,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2006-02-10,2006-04-25
75275,6529,0.0,0.0,0.0,0.0,0.0,23384,9999,0,1.0,2.0,10,12,6,4,Second,A,2100,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2006-03-30,2006-04-03
75276,6529,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,27.0,13,40,31,4,Second,A,2100,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2006-03-30,2006-04-03
75277,6543,0.0,0.0,0.0,0.0,0.0,1704,9999,0,0.0,-259.0,10,-249,512,771,First,F,2100,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2005-09-27,2007-11-07

In [9]:
#Group Camps by start date
#Check for overlap

In [14]:
unique={}
for item in list(zip(start,end, camp_id)):
    if item not in unique:
        unique[item[2]] =item

#lst= [i for i in unique.keys() ]
d_time = {}

for item in camp_id:
    if item not in d_time:
        d_time[item] = []


print(d_time)
#print(unique)
for k,v in unique.items():
    print(v , len(v)) # iterate through items and create pointers to values
    start = v[0]
    end = v[1]
    for kk,vv in unique.items():
        #print(vv)# loop through all items and
        start2 = vv[0]
        end2 = vv[1]
        #print(start , end2)
        if start > end2: # check if start date
            d_time[k].append(kk)
#print(d_time)

{6578: [], 6532: [], 6543: [], 6580: [], 6570: [], 6542: [], 6571: [], 6527: [], 6526: [], 6539: [], 6528: [], 6555: [], 6541: [], 6523: [], 6538: [], 6549: [], 6586: [], 6554: [], 6529: [], 6540: [], 6534: [], 6535: [], 6561: [], 6585: [], 6536: [], 6562: [], 6537: [], 6581: [], 6524: [], 6587: [], 6557: [], 6546: [], 6569: [], 6564: [], 6575: [], 6552: [], 6558: [], 6530: [], 6560: [], 6531: [], 6544: [], 6565: [], 6553: [], 6563: []}
('2', '2', 6578) 3
('0', '0', 6532) 3
('0', '0', 6543) 3
('4', '4', 6580) 3
('-', '-', 6570) 3
('0', '0', 6542) 3
('9', '9', 6571) 3
('-', '-', 6527) 3
('0', '1', 6526) 3
('9', '4', 6539) 3

In [11]:
# next I need to sort camps by overlap ? 
# we cant use overlap for training models.

In [12]:
for k,v in d_time.items():
    print(f'This is k -- >{k} || and This is len(v) ---> {len(v)}')

This is k -- >6578 || and This is len(v) ---> 31
This is k -- >6532 || and This is len(v) ---> 23
This is k -- >6543 || and This is len(v) ---> 35
This is k -- >6580 || and This is len(v) ---> 19
This is k -- >6570 || and This is len(v) ---> 28
This is k -- >6542 || and This is len(v) ---> 23
This is k -- >6571 || and This is len(v) ---> 35
This is k -- >6527 || and This is len(v) ---> 26
This is k -- >6526 || and This is len(v) ---> 19
This is k -- >6539 || and This is len(v) ---> 13
This is k -- >6528 || and This is len(v) ---> 39
This is k -- >6555 || and This is len(v) ---> 33
This is k -- >6541 || and This is len(v) ---> 38
This is k -- >6523 || and This is len(v) ---> 24
This is k -- >6538 || and This is len(v) ---> 5
This is k -- >6549 || and This is len(v) ---> 26
This is k -- >6586 || and This is len(v) ---> 16
This is k -- >6554 || and This is len(v) ---> 26
This is k -- >6529 || and This is len(v) ---> 39
This is k -- >6540 || and This is len(v) ---> 17
This is k -- >6534 || and This is len(v) ---> 38
This is k -- >6535 || and This is len(v) ---> 7
This is k -- >6561 || and This is len(v) ---> 3
This is k -- >6585 || and This is len(v) ---> 3
This is k -- >6536 || and This is len(v) ---> 22
This is k -- >6562 || and This is len(v) ---> 18
This is k -- >6537 || and This is len(v) ---> 35
This is k -- >6581 || and This is len(v) ---> 4
This is k -- >6524 || and This is len(v) ---> 24
This is k -- >6587 || and This is len(v) ---> 30
This is k -- >6557 || and This is len(v) ---> 5
This is k -- >6546 || and This is len(v) ---> 5
This is k -- >6569 || and This is len(v) ---> 15
This is k -- >6564 || and This is len(v) ---> 4
This is k -- >6575 || and This is len(v) ---> 35
This is k -- >6552 || and This is len(v) ---> 10
This is k -- >6558 || and This is len(v) ---> 13
This is k -- >6530 || and This is len(v) ---> 0
This is k -- >6560 || and This is len(v) ---> 0
This is k -- >6531 || and This is len(v) ---> 18
This is k -- >6544 || and This is len(v) ---> 2
This is k -- >6565 || and This is len(v) ---> 8
This is k -- >6553 || and This is len(v) ---> 8
This is k -- >6563 || and This is len(v) ---> 14

How to seperate? Cant update models

-if campX start date is before campY end date ... camp

if camp Y start is before camp X end. then it cant be used.
multidemionsal sort

for each camp_X::
        get start_date_X:
            iterate through all other  CampY_end dates E
                if start_date_X > CampY_end date: (if start date is after ending of Y)
                    append campY_ID to CampX value_list

In [13]:
for k,v in d_time.items():
    print(f'This is k -- >{k} || and This is len(v) ---> {len(v)}')

This is k -- >6578 || and This is len(v) ---> 31
This is k -- >6532 || and This is len(v) ---> 23
This is k -- >6543 || and This is len(v) ---> 35
This is k -- >6580 || and This is len(v) ---> 19
This is k -- >6570 || and This is len(v) ---> 28
This is k -- >6542 || and This is len(v) ---> 23
This is k -- >6571 || and This is len(v) ---> 35
This is k -- >6527 || and This is len(v) ---> 26
This is k -- >6526 || and This is len(v) ---> 19
This is k -- >6539 || and This is len(v) ---> 13
This is k -- >6528 || and This is len(v) ---> 39
This is k -- >6555 || and This is len(v) ---> 33
This is k -- >6541 || and This is len(v) ---> 38
This is k -- >6523 || and This is len(v) ---> 24
This is k -- >6538 || and This is len(v) ---> 5
This is k -- >6549 || and This is len(v) ---> 26
This is k -- >6586 || and This is len(v) ---> 16
This is k -- >6554 || and This is len(v) ---> 26
This is k -- >6529 || and This is len(v) ---> 39
This is k -- >6540 || and This is len(v) ---> 17
This is k -- >6534 || and This is len(v) ---> 38
This is k -- >6535 || and This is len(v) ---> 7
This is k -- >6561 || and This is len(v) ---> 3
This is k -- >6585 || and This is len(v) ---> 3
This is k -- >6536 || and This is len(v) ---> 22
This is k -- >6562 || and This is len(v) ---> 18
This is k -- >6537 || and This is len(v) ---> 35
This is k -- >6581 || and This is len(v) ---> 4
This is k -- >6524 || and This is len(v) ---> 24
This is k -- >6587 || and This is len(v) ---> 30
This is k -- >6557 || and This is len(v) ---> 5
This is k -- >6546 || and This is len(v) ---> 5
This is k -- >6569 || and This is len(v) ---> 15
This is k -- >6564 || and This is len(v) ---> 4
This is k -- >6575 || and This is len(v) ---> 35
This is k -- >6552 || and This is len(v) ---> 10
This is k -- >6558 || and This is len(v) ---> 13
This is k -- >6530 || and This is len(v) ---> 0
This is k -- >6560 || and This is len(v) ---> 0
This is k -- >6531 || and This is len(v) ---> 18
This is k -- >6544 || and This is len(v) ---> 2
This is k -- >6565 || and This is len(v) ---> 8
This is k -- >6553 || and This is len(v) ---> 8
This is k -- >6563 || and This is len(v) ---> 14