In [3]:
import pandas as pd 
import numpy as np 
pd.set_option('display.max_columns', None) 
camp_info = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/Train/camp_info.csv')
test_merge = pd.read_csv('/home/allen/Galva/capstones/capstone2/src/explore/test_merge2.csv')
trian_merge = pd.read_csv('/home/allen/Galva/capstones/capstone2/src/explore/train_merge2.csv')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (15,16,17,22) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [44]:
trian_merge.patient_event.nunique()

75278

In [4]:
trian_merge.patient_event = trian_merge.patient_event.astype(int)
trian_merge.y_target = trian_merge.y_target.astype(int)

trian_merge.Patient_ID = trian_merge.Patient_ID.astype(str)
trian_merge.Health_Camp_ID = trian_merge.Health_Camp_ID.astype(str)

trian_merge['patient_event2'] = trian_merge['Patient_ID'] + trian_merge['Health_Camp_ID']

In [5]:
trian_merge2 = trian_merge[trian_merge['patient_event'] == trian_merge['patient_event2'] ]

In [6]:
trian_merg3= trian_merge[trian_merge['y_target'] == 1]

In [8]:
trian_merg3.head(20)

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Camp_Start_Date2,Camp_End_Date2,patient_event,First_Interaction,City_Type,Job_Type,online_score,Camp_Start_Date,Camp_End_Date,Category1,y_target,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Camp_length,delta_first_reg,interaction_regreister_delta,delta_first_start,Category,Camp_Length,patient_event2
0,489652,6578,2005-09-10,4.0,0.0,0.0,0.0,2.0,2005-08-16,2005-10-14,4896526578,2004-12-06,23384,9999.0,0,2005-08-16,2005-10-14,Third,1,NaN,2.0,1.0,59 days,-25,278 days,278 days,NaN,59 days,4896526578
7,489652,6527,2005-05-08,0.0,0.0,0.0,0.0,0.0,2005-06-13,2005-07-22,4896526527,2004-12-06,23384,9999.0,0,2005-06-13,2005-07-22,Third,1,NaN,2.0,4.0,39 days,36,153 days,153 days,NaN,39 days,4896526527
11,507246,6528,2006-02-20,45.0,5.0,0.0,0.0,7.0,2006-02-10,2006-04-25,5072466528,2004-09-08,1216,4.0,0,2006-02-10,2006-04-25,Third,1,NaN,1.0,1.0,74 days,-10,530 days,530 days,NaN,74 days,5072466528
13,507246,6555,2005-08-18,45.0,5.0,0.0,0.0,7.0,2005-09-15,2005-09-19,5072466555,2004-09-08,1216,4.0,0,2005-09-15,2005-09-19,Second,1,0.058993,NaN,NaN,4 days,28,344 days,344 days,NaN,4 days,5072466555
14,507246,6527,2005-06-15,45.0,5.0,0.0,0.0,7.0,2005-06-13,2005-07-22,5072466527,2004-09-08,1216,4.0,0,2005-06-13,2005-07-22,Third,1,NaN,1.0,1.0,39 days,-2,280 days,280 days,NaN,39 days,5072466527
15,507246,6539,2004-09-29,12.0,1.0,0.0,0.0,5.0,2004-08-07,2005-02-12,5072466539,2004-09-08,1216,4.0,0,2004-08-07,2005-02-12,First,1,NaN,NaN,NaN,189 days,-53,21 days,21 days,NaN,189 days,5072466539
16,507246,6541,2005-12-15,45.0,5.0,0.0,0.0,7.0,2005-12-03,2006-01-30,5072466541,2004-09-08,1216,4.0,0,2005-12-03,2006-01-30,Third,1,NaN,2.0,3.0,58 days,-12,463 days,463 days,NaN,58 days,5072466541
19,507246,6549,2005-06-23,45.0,5.0,0.0,0.0,7.0,2005-06-23,2005-06-27,5072466549,2004-09-08,1216,4.0,0,2005-06-23,2005-06-27,Second,1,0.552962,NaN,NaN,4 days,0,288 days,288 days,NaN,4 days,5072466549
21,507246,6586,2004-10-03,19.0,3.0,0.0,0.0,6.0,2004-10-01,2004-10-18,5072466586,2004-09-08,1216,4.0,0,2004-10-01,2004-10-18,First,1,NaN,NaN,NaN,17 days,-2,25 days,25 days,NaN,17 days,5072466586
22,507246,6554,2005-05-14,45.0,5.0,0.0,0.0,7.0,2005-06-19,2005-07-01,5072466554,2004-09-08,1216,4.0,0,2005-06-19,2005-07-01,First,1,NaN,NaN,NaN,12 days,36,248 days,248 days,NaN,12 days,5072466554
23,507246,6529,2006-02-20,45.0,5.0,0.0,0.0,7.0,2006-03-30,2006-04-03,5072466529,2004-09-08,1216,4.0,0,2006-03-30,2006-04-03,Second,1,0.389626,NaN,NaN,4 days,38,530 days,530 days,NaN,4 days,5072466529
28,523729,6534,2006-04-29,0.0,0.0,0.0,0.0,0.0,2005-10-17,2007-11-07,5237296534,2004-06-22,23384,9999.0,0,2005-10-17,2007-11-07,Second,1,0.402054,NaN,NaN,751 days,-194,676 days,676 days,NaN,751 days,5237296534
34,524931,6534,2006-10-10,0.0,0.0,0.0,0.0,0.0,2005-10-17,2007-11-07,5249316534,2004-02-07,1036,9999.0,0,2005-10-17,2007-11-07,Second,1,0.947077,NaN,NaN,751 days,-358,976 days,976 days,NaN,751 days,5249316534
36,524931,6523,2005-09-13,0.0,0.0,0.0,0.0,0.0,2005-02-23,2005-09-16,5249316523,2004-02-07,1036,9999.0,0,2005-02-23,2005-09-16,Second,1,0.596036,NaN,NaN,205 days,-202,584 days,584 days,NaN,205 days,5249316523
37,524931,6528,2006-03-11,0.0,0.0,0.0,0.0,0.0,2006-02-10,2006-04-25,5249316528,2004-02-07,1036,9999.0,0,2006-02-10,2006-04-25,Third,1,NaN,2.0,2.0,74 days,-29,763 days,763 days,NaN,74 days,5249316528
38,521364,6529,2006-02-28,15.0,1.0,0.0,0.0,7.0,2006-03-30,2006-04-03,5213646529,2003-07-04,1036,5.0,1,2006-03-30,2006-04-03,Second,1,0.845597,NaN,NaN,4 days,30,970 days,970 days,NaN,4 days,5213646529
39,521364,6571,2005-07-23,15.0,1.0,0.0,0.0,7.0,2005-10-09,2005-10-12,5213646571,2003-07-04,1036,5.0,1,2005-10-09,2005-10-12,First,1,NaN,NaN,NaN,3 days,78,750 days,750 days,NaN,3 days,5213646571
42,521364,6586,2004-06-03,8.0,0.0,0.0,0.0,3.0,2004-10-01,2004-10-18,5213646586,2003-07-04,1036,5.0,1,2004-10-01,2004-10-18,First,1,NaN,NaN,NaN,17 days,120,335 days,335 days,NaN,17 days,5213646586
43,521364,6538,2004-10-24,6.0,0.0,0.0,0.0,2.0,2004-01-09,2005-02-04,5213646538,2003-07-04,1036,5.0,1,2004-01-09,2005-02-04,First,1,NaN,NaN,NaN,392 days,-289,478 days,478 days,NaN,392 days,5213646538
47,521364,6585,2003-11-12,2.0,0.0,0.0,0.0,1.0,2003-11-22,2003-12-05,5213646585,2003-07-04,1036,5.0,1,2003-11-22,2003-12-05,First,1,NaN,NaN,NaN,13 days,10,131 days,131 days,NaN,13 days,5213646585

In [9]:
test_merge.patient_event.head()

0    5.057017e+09
1    5.057017e+09
2    5.057017e+09
3    5.057017e+09
4    5.057017e+09
Name: patient_event, dtype: float64

In [10]:
test_merge2 = test_merge[test_merge['Patient_ID'].notna()]

In [11]:
camp_ids = camp_info['Health_Camp_ID'].values
camp_ids_ = [int(x) for x in camp_ids]
category = camp_info['Category1'].values 

bla = list(zip(camp_ids_,category))  
dict_of_types = {k:v for (k,v) in bla}  

t2 = test_merge2['Health_Camp_ID'].values
t2_ = [int(x) for x in t2]
test_merge2['Health_Camp_ID'] = t2_

test_merge2['Category'] = test_merge2['Health_Camp_ID'].map(dict_of_types)


test_merge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35249 entries, 0 to 35248
Data columns (total 28 columns):
Patient_ID                      35249 non-null float64
Health_Camp_ID                  35249 non-null int64
Registration_Date               35249 non-null object
Var1                            35249 non-null float64
Var2                            35249 non-null float64
Var3                            35249 non-null float64
Var4                            35249 non-null float64
Var5                            35249 non-null float64
Camp_Start_Date2                35249 non-null object
Camp_End_Date2                  35249 non-null object
patient_event                   35249 non-null float64
First_Interaction               35249 non-null object
City_Type                       35249 non-null float64
Job_Type                        35249 non-null float64
online_score                    35249 non-null float64
Camp_Start_Date                 0 non-null object
Camp_End_Date                   0 non-null object
Category1                       0 non-null object
y_target                        35249 non-null float64
Health Score                    0 non-null float64
Number_of_stall_visited         0 non-null float64
Last_Stall_Visited_Number       0 non-null float64
Camp_length                     0 non-null object
delta_first_reg                 35249 non-null float64
interaction_regreister_delta    35249 non-null object
delta_first_start               35249 non-null object
Category                        35249 non-null object
Camp_Length                     35249 non-null object
dtypes: float64(15), int64(1), object(12)
memory usage: 7.8+ MB

<ipython-input-11-a630e82ba7ba>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_merge2['Health_Camp_ID'] = t2_
<ipython-input-11-a630e82ba7ba>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_merge2['Category'] = test_merge2['Health_Camp_ID'].map(dict_of_types)

In [12]:
drop_these =['Camp_Start_Date', 'Camp_End_Date','Category1','Health Score',
             'Number_of_stall_visited', 'Last_Stall_Visited_Number','Camp_length',
            'Camp_Start_Date2', 'Camp_End_Date2' ,'First_Interaction', 'Patient_ID']
test_merge2 = test_merge2.drop(drop_these,axis=1)

In [13]:
count = test_merge2['y_target'].values
test_merge2 = test_merge2.drop('y_target', axis=1)

In [14]:
# Current thought Dec 23rd.
# the unique patient evetn IDS are floats and not ints so they did not merge.

In [15]:
concat = pd.read_csv('/home/allen/Galva/capstones/capstone2/src/explore/concat1.csv')

In [43]:
concat.Patient_ID.nunique()

11079

In [16]:
attends_df = pd.read_csv('/home/allen/Galva/capstones/capstone2/src/explore/dec21.csv')
attends_df_ = attends_df.copy() 
attends_df_= attends_df_.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Patient_ID', 'Online_Follower',
   'LinkedIn_Shared', 'Twitter_Shared', 'Facebook_Shared', 'Income',
   'Education_Score', 'Age', 'First_Interaction', 'City_Type',
   'Employer_Category', 'Job_Type', 'Event1_or_2', 'online_score',
   'Donation', 'Health_Score', 'Unnamed: 4', 'Health_Camp_ID'], axis=1)

In [17]:
test1 = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/Train/test.csv') 
test1.Patient_ID = test1.Patient_ID.astype(int)
test1.Health_Camp_ID = test1.Health_Camp_ID.astype(int)
test1.Patient_ID = test1.Patient_ID.astype(str)
test1.Health_Camp_ID = test1.Health_Camp_ID.astype(str)
test1['patient_event'] = test1['Health_Camp_ID'] + test1['Patient_ID']
test1

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,patient_event
0,505701,6548,21-May-06,1,0,0,0,2,6548505701
1,500633,6584,02-Jun-06,0,0,0,0,0,6584500633
2,506945,6582,10-Aug-06,0,0,0,0,0,6582506945
3,497447,6551,27-Aug-06,0,0,0,0,0,6551497447
4,496446,6533,19-Sep-06,0,0,0,0,0,6533496446
...,...,...,...,...,...,...,...,...,...
35244,507261,6525,13-Apr-06,12,2,0,0,6,6525507261
35245,513607,6551,03-Nov-06,0,0,0,0,0,6551513607
35246,498160,6584,17-Jun-06,0,0,0,0,0,6584498160
35247,502444,6567,13-Jan-07,0,0,0,0,0,6567502444
35248,523811,6584,16-Jun-06,4,3,0,2,4,6584523811

In [18]:
print(test1.head(5))

  Patient_ID Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5  \
0     505701           6548         21-May-06     1     0     0     0     2
1     500633           6584         02-Jun-06     0     0     0     0     0
2     506945           6582         10-Aug-06     0     0     0     0     0
3     497447           6551         27-Aug-06     0     0     0     0     0
4     496446           6533         19-Sep-06     0     0     0     0     0

  patient_event
0    6548505701
1    6584500633
2    6582506945
3    6551497447
4    6533496446

In [19]:
hapa = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/Train/Second_Health_Camp_Attended.csv')
hapa.Patient_ID = hapa.Patient_ID.astype(int)
hapa.Health_Camp_ID = hapa.Health_Camp_ID.astype(int)
hapa.Patient_ID = hapa.Patient_ID.astype(str)
hapa.Health_Camp_ID = hapa.Health_Camp_ID.astype(str)
hapa['patient_event'] = hapa['Health_Camp_ID'] + test1['Patient_ID']
print(hapa)

     Patient_ID Health_Camp_ID  Health Score patient_event
0        526631           6536      0.875136    6536505701
1        509122           6536      0.755700    6536500633
2        498864           6536      0.673181    6536506945
3        515398           6536      0.722041    6536497447
4        504624           6536      0.464712    6536496446
...         ...            ...           ...           ...
7814     490853           6529      0.103136    6529504293
7815     499836           6529      0.507841    6529501290
7816     511286           6529      0.627865    6529517867
7817     522935           6529      0.252714    6529496860
7818     489487           6529      0.691194    6529504651

[7819 rows x 4 columns]

In [20]:
hap = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/Train/First_Health_Camp_Attended.csv')
hap.Patient_ID = hap.Patient_ID.astype(int)
hap.Health_Camp_ID = hap.Health_Camp_ID.astype(int)
hap.Patient_ID = hap.Patient_ID.astype(str)
hap.Health_Camp_ID = hap.Health_Camp_ID.astype(str)
hap['patient_event'] = hap['Health_Camp_ID'] + hap['Patient_ID']
print(hap)

     Patient_ID Health_Camp_ID  Donation  Health_Score  Unnamed: 4  \
0        506181           6560        40      0.439024         NaN
1        494977           6560        20      0.097561         NaN
2        518680           6560        10      0.048780         NaN
3        509916           6560        30      0.634146         NaN
4        488006           6560        20      0.024390         NaN
...         ...            ...       ...           ...         ...
6213     502728           6575        10      0.509804         NaN
6214     511088           6575        20      0.078431         NaN
6215     507608           6575        40      0.627451         NaN
6216     488046           6575        50      0.686275         NaN
6217     508766           6575        50      0.921569         NaN

     patient_event
0       6560506181
1       6560494977
2       6560518680
3       6560509916
4       6560488006
...            ...
6213    6575502728
6214    6575511088
6215    6575507608
6216    6575488046
6217    6575508766

[6218 rows x 6 columns]

In [21]:
ha = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/Train/Third_Health_Camp_Attended.csv')
ha.Patient_ID = ha.Patient_ID.astype(int)
ha.Health_Camp_ID = ha.Health_Camp_ID.astype(int)
ha.Patient_ID = ha.Patient_ID.astype(str)
ha.Health_Camp_ID = ha.Health_Camp_ID.astype(str)
ha['patient_event'] = ha['Health_Camp_ID'] + ha['Patient_ID']
print(ha)

     Patient_ID Health_Camp_ID  Number_of_stall_visited  \
0        517875           6527                        3
1        504692           6578                        1
2        504692           6527                        3
3        493167           6527                        4
4        510954           6528                        2
...         ...            ...                      ...
6510     503791           6527                        3
6511     517319           6528                        1
6512     517319           6578                        4
6513     517319           6527                        4
6514     511234           6527                        5

      Last_Stall_Visited_Number patient_event
0                             1    6527517875
1                             1    6578504692
2                             1    6527504692
3                             4    6527493167
4                             2    6528510954
...                         ...           ...
6510                          3    6527503791
6511                          3    6528517319
6512                          3    6578517319
6513                          4    6527517319
6514                          4    6527511234

[6515 rows x 5 columns]

In [22]:
concat.Patient_ID = concat.Patient_ID.astype(int)
concat.Health_Camp_ID = concat.Health_Camp_ID.astype(int)
concat.Patient_ID = concat.Patient_ID.astype(str)
concat.Health_Camp_ID = concat.Health_Camp_ID.astype(str)
concat['patient_event'] = concat['Health_Camp_ID'] + concat['Patient_ID']
concat

,Health_Camp_ID,Camp_Start_Date,Camp_End_Date,Category1,Unnamed: 0,Unnamed: 0.1,Patient_ID,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category,Job_Type,Event1_or_2,online_score,Donation,Health_Score,Unnamed: 4,y_target,patient_event,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number
0,6560,16-Aug-03,20-Aug-03,First,9,9,487977,0,1,1,0,4,1,1,08-Jun-03,1352,Technology,5.0,1,2,40.0,0.926829,NaN,1,6560487977,NaN,NaN,NaN
1,6560,16-Aug-03,20-Aug-03,First,10,10,518680,0,1,0,0,0,0,1,31-May-03,2662,NaN,9999.0,1,1,10.0,0.048780,NaN,1,6560518680,NaN,NaN,NaN
2,6560,16-Aug-03,20-Aug-03,First,11,11,497120,0,1,0,1,1,1,1,12-Apr-03,2662,Education,3.0,1,2,30.0,0.292683,NaN,1,6560497120,NaN,NaN,NaN
3,6560,16-Aug-03,20-Aug-03,First,14,14,509188,0,0,0,0,1,1,1,06-Mar-03,816,Technology,5.0,1,0,20.0,0.170732,NaN,1,6560509188,NaN,NaN,NaN
4,6560,16-Aug-03,20-Aug-03,First,17,17,518080,0,0,0,0,0,0,1,12-Jul-03,816,Consulting,6.0,1,0,20.0,0.365854,NaN,1,6560518080,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20547,6528,10-Feb-06,25-Apr-06,Third,34441,34441,485741,0,0,0,0,0,0,0,16-Apr-06,1216,NaN,9999.0,1,0,NaN,NaN,NaN,1,6528485741,NaN,2.0,1.0
20548,6528,10-Feb-06,25-Apr-06,Third,34445,34445,527453,0,0,0,0,0,0,0,15-Apr-06,23384,NaN,9999.0,1,0,NaN,NaN,NaN,1,6528527453,NaN,1.0,3.0
20549,6528,10-Feb-06,25-Apr-06,Third,34446,34446,518386,1,0,1,0,1,0,1,13-Apr-06,2517,NaN,9999.0,1,2,NaN,NaN,NaN,1,6528518386,NaN,3.0,3.0
20550,6528,10-Feb-06,25-Apr-06,Third,34449,34449,490945,0,0,0,0,0,0,0,12-Apr-06,1216,NaN,9999.0,1,0,NaN,NaN,NaN,1,6528490945,NaN,2.0,1.0
20551,6528,10-Feb-06,25-Apr-06,Third,34456,34456,490325,0,0,0,0,0,0,1,14-Apr-06,1704,NaN,9999.0,1,0,NaN,NaN,NaN,1,6528490325,NaN,4.0,3.0

In [23]:
q=concat[concat['patient_event'] == 6548505701]
qq=concat[concat['patient_event'] == '6584500633']
qqq=concat[concat['patient_event'] == '6582506945']
qw = concat[concat['patient_event'] == '6533496446']

In [24]:
hapa_vals = set(hapa['patient_event'].values)
hapa_h = set(hapa['Health_Camp_ID'].values)
hapa_pat = set(hapa['Patient_ID'].values)

In [25]:
hapa_val = list(hapa['patient_event'].values)
print(hapa_val[0:3])

['6536505701', '6536500633', '6536506945']

In [26]:
con_vals = set(concat['Patient_ID'].values)
te_vals = set(test1['Patient_ID'].values)
s3 = te_vals.intersection(con_vals)
print(len(s3)) #looking for overlap between concat and test_csv

con_events = set(concat['Health_Camp_ID'].values)
re_events = set(test1['Health_Camp_ID'].values)

c3 = hapa_h.intersection(re_events)
c4 = hapa_h.intersection(con_events)
print(len(c3),len(c4))

c5 = con_events.intersection(hapa_h) # there is patient_overlap in concatted and hapa <which has2 happen>
c6 =te_vals.intersection(hapa_pat) #there is patient_overlap in test.csv and hapa

print(len(c5), len(c6))

5182
0 6
6 3489

In [27]:
hapa_v1 = set(hapa['patient_event'].values)
con_v = set(test1['patient_event'].values)
pls = hapa_v1.intersection(con_v)
print(len(pls))

0

In [28]:
'''
Assuming:
There is some overlap in Patient_ID for test and event2
There is some overlap in Health_Camp_ID for test and event2 ****UPDATE THERE IS NO OVERLAP ?!? 
Therefore there is overlap in Patient_ID and Health_Camp_ID for test and event2
'''
test1_ = test1.copy()
hapa1_ = ha.copy() 
def disproof(test1_,hapa1_):
    lst = ['Health_Camp_ID', 'Patient_ID', 'patient_event']
    t1,t2,t3 = set(test1_['Health_Camp_ID'].values) , set(test1_['Patient_ID'].values), set(test1_['patient_event'].values)
    h1,h2,h3 = set(hapa1_['Health_Camp_ID'].values) , set(hapa1_['Patient_ID'].values), set(hapa1_['patient_event'].values) 
    print(len(t1.intersection(h1)))
    print(len(t2.intersection(h2)))
    print(len(t3.intersection(h3)))
    print(len(h1.intersection(t1)))
    print(len(h2.intersection(t2)))
    print(len(h3.intersection(t3)))
    return "Hi"
print(disproof(test1_,hapa1_))

0
2798
0
0
2798
0
Hi

In [29]:
def merger(x):

    x['patient_event'] = x.patient_event.fillna(0) #remove potential issues from na / None
    x.patient_event = x.patient_event.astype(int) # Ensure ints
    attends_df_.patient_event = attends_df_.patient_event.astype(int) # Ensure ints for attends 

    print(f'lets do some proofs')
    tpe = set(x['patient_event'].values) 
    ape = set(attends_df_['patient_event'].values)
    
    print(f'the sum of these is', len(tpe) + len(ape))
    union_tpe_to_ape, ape_to_tpe_union = tpe.union(ape) , ape.union(tpe)
    print('union_tpe_to_ape, ape_to_tpe_union' , len(union_tpe_to_ape), len(ape_to_tpe_union))
    inter_ape_tpe , inter_tpe_ape = ape.intersection(tpe) , tpe.intersection(ape)
    print('ape.intersection(tpe) , tpe.intersection(ape)', len(ape.intersection(tpe)) , len(tpe.intersection(ape)))
    diff_ape_tpe , diff_tpe_ape = ape.difference(tpe) , tpe.difference(ape)
    print('ape.difference(tpe) , tpe.difference(ape)' , len(ape.difference(tpe) ), len(tpe.difference(ape)) ) 
    
    
    
    x = pd.merge(x, attends_df_ ,how='outer', on='patient_event') #merge
    x['y_target'] = x['y_target'].replace(to_replace = 'None', value=np.nan).fillna(0) #2nd check / removal for nan
    x_ = x[x['patient_event'].notna()] #3rd check for Nan
    return x_

outz = merger(x=test_merge2)

lets do some proofs
the sum of these is 55801
union_tpe_to_ape, ape_to_tpe_union 55801 55801
ape.intersection(tpe) , tpe.intersection(ape) 0 0
ape.difference(tpe) , tpe.difference(ape) 20552 35249

e1,e2,e3 
I can tell they went to a health camp BUT the ones they went too are NOT in test.csv 
-- How many are in the train.csv? -- 
IF there are 8000 patients that overlap in test and train take all those out of the train and put all their test values in the test. Especially since all patients are in the train, test ?

In [30]:
tra = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/Train/Train.csv')
tst = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/Train/test.csv')

tr = set(tra['Patient_ID'].values)
te = set(tst['Patient_ID'].values)
print(len(tr.intersection(te)) )
tstr = te.intersection(tr)

8460

In [31]:
ttt = [int(i) for i in tstr]

In [32]:

tst2 =np.array([tstr])
t2 = {'Patient_IDD': ttt , 'Patient_ID': ttt}
t2df = pd.DataFrame(data = t2)

In [33]:
pats_to_remove = list(tstr)

In [34]:
pats_to_remove2 = list(tstr)

In [35]:
trian_merge3 = trian_merge[~trian_merge['Patient_ID'].isin(pats_to_remove)]

In [36]:
test1a=test1.copy()

In [37]:
test1a.Patient_ID = test1a.Patient_ID.astype(int)

In [38]:
t2df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8460 entries, 0 to 8459
Data columns (total 2 columns):
Patient_IDD    8460 non-null int64
Patient_ID     8460 non-null int64
dtypes: int64(2)
memory usage: 132.3 KB

In [39]:
trian_merge3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75278 entries, 0 to 75277
Data columns (total 29 columns):
Patient_ID                      75278 non-null object
Health_Camp_ID                  75278 non-null object
Registration_Date               75278 non-null object
Var1                            75278 non-null float64
Var2                            75278 non-null float64
Var3                            75278 non-null float64
Var4                            75278 non-null float64
Var5                            75278 non-null float64
Camp_Start_Date2                75278 non-null object
Camp_End_Date2                  75278 non-null object
patient_event                   75278 non-null int64
First_Interaction               75278 non-null object
City_Type                       75278 non-null int64
Job_Type                        75278 non-null float64
online_score                    75278 non-null int64
Camp_Start_Date                 20552 non-null object
Camp_End_Date                   20552 non-null object
Category1                       20552 non-null object
y_target                        75278 non-null int64
Health Score                    7819 non-null float64
Number_of_stall_visited         6515 non-null float64
Last_Stall_Visited_Number       6515 non-null float64
Camp_length                     20552 non-null object
delta_first_reg                 75278 non-null int64
interaction_regreister_delta    75278 non-null object
delta_first_start               75278 non-null object
Category                        0 non-null float64
Camp_Length                     75278 non-null object
patient_event2                  75278 non-null object
dtypes: float64(10), int64(5), object(14)
memory usage: 17.2+ MB

In [40]:
test1a_ = pd.merge(test1a,t2df, how = 'outer' , on = 'Patient_ID')

In [41]:
test1a_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35249 entries, 0 to 35248
Data columns (total 10 columns):
Patient_ID           35249 non-null int64
Health_Camp_ID       35249 non-null object
Registration_Date    35249 non-null object
Var1                 35249 non-null int64
Var2                 35249 non-null int64
Var3                 35249 non-null int64
Var4                 35249 non-null int64
Var5                 35249 non-null int64
patient_event        35249 non-null object
Patient_IDD          24006 non-null float64
dtypes: float64(1), int64(6), object(3)
memory usage: 3.0+ MB

In [5]:
dataset = pd.read_csv('/home/allen/Galva/capstones/capstone2/src/explore/train_4_model.csv')

In [6]:
dataset.head()

,Var1,Var2,Var3,Var4,Var5,y_target,delta_first_reg,interaction_regreister_delta,delta_first_start,delta_reg_end,Camp_Length,Second,Third,1036,1216,1217,1352,1704,1729,2517,2662,23384,B,C,D,E,F,G,2100,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,9999.0,1,2,3,4
0,0.420086,-0.063285,-0.019631,-0.11236,1.442928,1.0,0.059341,0.257361,0.392104,-0.394391,-0.529413,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,-0.104391,-0.063285,-0.019631,-0.11236,-0.204613,0.0,0.062659,-0.205094,-0.201865,-0.015115,-0.084562,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0.420086,-0.063285,-0.019631,-0.11236,1.442928,0.0,-0.056754,0.456294,0.532254,1.627418,1.984351,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,-0.104391,-0.063285,-0.019631,-0.11236,-0.204613,0.0,0.155535,-0.429863,-0.398743,-0.439187,-0.684758,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,-0.104391,-0.063285,-0.019631,-0.11236,-0.204613,0.0,0.371142,-0.083668,0.265302,-0.251043,-0.691819,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [10]:
no,yes =[1 for x in dataset['y_target'].values if x ==0.0],[1 for x in dataset['y_target'].values if x == 1.0]

In [13]:
sum(yes), sum(no)

(20534, 54744)

In [ ]:
37633 Patients 	Total 	Train 	Test 	Overlap in Train/Test
Yes Attended 	26565 	45275 	16743 	28532
No 	11068 	30003 	18506 	11497